__pycache__/

*.db

flask_session/

app/static/img_uploads/
!90210.jpg
!all_of_us,_together.jpg
!brandon.png
!buk.jpg
!dhalgren.jpg
!dine_time.jpg
!fallen_angles_1995.jpg
!glacier.jpg
!neptune.jpg
!oo.gif
!stacko.png
!three_gorges.jpg

*.log

Lib
Scripts
pyvenv.cfg