h1 {
    font-size: xx-large;
    color: #c6c8c6;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.metadata{
    background-color: rgb(49, 61, 83);
    color: rgb(15, 15, 15);
    border-radius: 2px;
    padding: 3px;
    display: inline-block;
    margin: 2px;
}

.metabutton{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    background: #1d1f21;
    color: #c5c8c6;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 85%;
    margin: auto;
}

.reply{
    background-color: #161616;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.post{
    background-color: #161616;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    width: 200px;
    max-height: 350px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.title {
    text-align: center;
}

.close {
    color: #111111;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #2d3d4d;
    text-decoration: none;
    cursor: pointer;
}

div {
    display: block;
}

.img_and_caption{
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.post_img_and_caption{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    word-break: break-all;
}

.formatted_text {
    word-break: break-all;
    white-space: pre-line;
}

.preview {
    position: absolute;
    transform: translate(0, 0);
    opacity: 1;
    background-color: #132638;
    max-width: 85%;
    word-break: break-all;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 3px; 
}

a{
    text-decoration: none;
    color: #c6c8c6;
}

a:visited{
    color: #c6c8c6;
}

.jump_link {
    text-decoration: underline;
    color:rgb(39, 151, 114);
    padding: 2px;
}

.jump_link:visited {
    color:rgb(39, 151, 114);
}

.jump_link:hover {
    color: rgb(31, 114, 86);
}

.parent_link {
    text-decoration: underline;
    color:rgb(60, 122, 173);
}

.parent_link:visited {
    color:rgb(60, 122, 173);
}

.parent_link:hover {
    color:rgb(48, 97, 138);
}

.nav{
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
}

.right_padding {
    padding-right: 10px;
}

.padding4 {
    padding: 4px;
}

.padding10 {
    padding: 10px;
}

ul {
    padding: 10px;
    background-color: #292a2e;
    border-radius: 3px;
}

.modal_textarea {
    max-width: 800px;
    max-height: 500px;
    background-color : #1d1f21;
    color: #f1f1f1;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    border: 1px solid rgb(160, 160, 160);
    padding: 4px;
    display: block;
}

.modal {
    max-width: 900px;
    max-height: 700px;
    border: 1px solid rgb(160, 160, 160);
    padding: 12px;
    display: none;
    position: fixed;
    left: 50%; 
    margin: 0 auto;
    top: 35%;
    background-color: #1d1f21;
    cursor: move;
}

.flash_nav {
    padding: 4px;
    color: black;
    background-color: rgb(42, 190, 141);
    border: solid rgb(39, 151, 114);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
