h1 {
    font-size: xx-large;
    color: #c6c8c6;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.metadata{
    background-color: rgb(125, 139, 167);
    color: rgb(15, 15, 15);
    border-radius: 2px;
    padding: 3px;
    display: inline-block;
    margin: 2px;
}

.metabutton{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    background: #1d1f21;
    color: #c5c8c6;
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 85%;
    margin: auto;
}

.reply{
    background-color: #161616;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.post{
    background-color: #161616;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    width: 200px;
    max-height: 350px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.title {
    text-align: center;
    font-size: 24px;
}

.center {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    margin-top: 5px;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    color: rgb(125, 139, 167);
    padding: 5px;
    border: 1px solid rgb(125, 139, 167);
}

button[type=submit] {
    margin-top: 5px;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    color: rgb(125, 139, 167);
    padding: 5px;
    border: 1px solid rgb(125, 139, 167);
}

.option_button {
    color: rgb(125, 139, 167) !important;
    padding: 5px;
    border: 1px solid rgb(125, 139, 167);
  }
  
.option_button:hover,
.option_button:focus {
    color: #2d3d4d;
    text-decoration: none;
    cursor: pointer;
}

div {
    display: block;
}

.img_and_caption{
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.post_img_and_caption{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    word-break: break-word;
}

.formatted_text {
    word-break: break-word;
    white-space: pre-line;
}

.preview {
    position: absolute;
    transform: translate(0, 0);
    opacity: 1;
    background-color: #132638;
    max-width: 85%;
    word-break: break-word;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 3px; 
}

a{
    text-decoration: none;
    color: #e6e6e6;
}

a:visited{
    color: #e6e6e6;
}

a:hover{
    color: rgb(88, 159, 216);
}

.nav_link_color {
    color: rgb(88, 159, 216);
}

.nav_link_color:visited {
    color: rgb(88, 159, 216);
}

.nav_link_color:hover {
    color: rgb(37, 75, 105);
}

.jump_link {
    text-decoration: underline;
    color:rgb(39, 151, 114);
    padding: 2px;
}

.jump_link:visited {
    color:rgb(39, 151, 114);
}

.jump_link:hover {
    color: rgb(31, 114, 86);
}

.underline {
    text-decoration: underline;
}

.nav{
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
}

.right_padding {
    padding-right: 10px;
}

.top_padding {
    padding-top: 10px;
}

.bottom_padding {
    padding-bottom: 10px;
}

.padding4 {
    padding: 4px;
}

.padding10 {
    padding: 10px;
}

.big_font {
    font-size: larger;
}

.inline {
    display: inline-block;
}

.wrapper {
    padding: 10px;
    background-color: rgb(0, 153, 255);
    border-radius: 3px;
    margin-top: 4px;
}

.home_section {
    display: inline-block;
    padding: 10px;
    background-color: #292a2e;
    border-radius: 3px;
    margin-top: 4px;
}

.modal_textarea {
    max-width: 800px;
    max-height: 500px;
    background-color : #1d1f21;
    color: #e6e6e6;
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    border: 1px solid rgb(160, 160, 160);
    padding: 4px;
    display: block;
}

.modal {
    max-width: 900px;
    max-height: 700px;
    border: 1px solid rgb(160, 160, 160);
    padding: 12px;
    display: none;
    position: fixed;
    left: 50%; 
    margin: 0 auto;
    top: 35%;
    background-color: #1d1f21;
    cursor: move;
}

.flash_nav {
    padding: 4px;
    color: black;
    background-color: rgb(42, 190, 141);
    border: solid rgb(39, 151, 114);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
