{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block body %}

<h4><a href="{{url_for('home')}}">Go to list of boards</a></h4>
<h2 class="title">{{board_acronym}}</h2>
<div class="postform">
  <h3>Create Post</h3>
  <form method="POST" action="/{{board_acronym}}/post" enctype="multipart/form-data">
    <div class="postform">
      <textarea class="post_textarea" maxlength="500" type="text" name="post_upload_text" rows="4" cols="40"></textarea>
    </div>
    <div class="postform">
      <input  type="file" value="Choose File" name="post_upload_img">
    </div>
    <input type="submit" value="Post">
  </form>
</div>

<div>
  {% if posts %}
    <h3>Posts</h3>
    {% for post in posts %}
    <a href="{{ url_for('board_post', board_acronym=board_acronym, post_id=post.post_id) }}">
      <ul>
        {{ macros.metadata(post) }}

        <div class="img_and_caption">
          {% if post.img_filename %}
            <img src="{{url_for('static', filename='img_uploads/' + post.img_uniqid + post.img_ext)}}"/>
          {% endif %}
          {% if post %}
            {{ post.post }}
          {% endif %}
        </div>
      </ul>
    </a>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}