{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block body %}

<h2 class="title">{{board_acronym}}</h2>
<div class="postform">
  <h3>Create Post</h3>
  <form method="POST" id="post_form" action="/{{board_acronym}}/post" enctype="multipart/form-data">
    <div class="postform">
      <textarea id="form_text" class="modal_textarea" maxlength="500" type="text" name="form_text" rows="4" cols="40"></textarea>
    </div>
    <div class="postform">
      <input id="form_img" type="file" value="Choose File" name="form_img" accept="image/jpg,image/png,image/jpeg,image/gif">
    </div>
    <div id="feedback"></div>
    <input id="post_submit" type="submit" value="Post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  </form>
</div>

<div>
  {% if posts %}
    <h3>Posts</h3>
    <div class="container">
      {% for post in posts %}
      <div class="post">
        
        <div class="metadata">
          <button class="metabutton" report="" report_url="/{{board_acronym}}/{{post.post_id}}/report">>></button>
        </div>

        <a href="{{ url_for('board_post', board_acronym=board_acronym, post_id=post.post_id) }}">
          {{ macros.metadata(post) }}

          <div class="post_img_and_caption">
            {% if post.img_filename %}
              <img src="{{url_for('static', filename='img_uploads/' + post.img_uid + '.' + post.img_ext)}}"/>
            {% endif %}
            {% if post %}
              {{ post.post }}
            {% endif %}
          </div>
        </a>
        
      </div>
      {% endfor %}
      </div>
  {% endif %}
</div>

<div id="report_modal" class="modal">
  <div report_modal_close="" class="close">&times;</div>
  <h3>Report</h3>
  <form id="report_form" action="" method="POST" enctype="multipart/form-data">
    <div class="modal_form">
      <textarea class="modal_textarea" maxlength="500" type="text" name="form_text" rows="8" cols="48" placeholder="Report Reason"></textarea>
    </div>
    <div feedback=""></div>
    <input type="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  </form>
</div>

<script>
  $(document).ready(function() {

    $('button[report]').click(function() {
      $('#report_form').attr("action", $(this).attr("report_url"));
      $('#report_modal').show();
      $('#report_modal').draggable({ containment: "html", scroll: false });
    });

    $('div[report_modal_close]').click(function() {
      $('#report_modal').hide();
    });
    
  });
</script>

{% endblock %}
