{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block body %}
{% include 'report_modal.html' %}

<div class="title">{{board_name}}</div>
<br>
<div class="center">
  <div class="reply">
    <div class="big_font">Create Post</div>
    <br>
    <form id="post_form" method="POST" action="/{{board_name}}/post" enctype="multipart/form-data">
      <textarea id="form_text" class="modal_textarea" maxlength="1500" type="text" name="form_text" rows="8" cols="48"></textarea>
      <input id="form_img_post" type="file" value="Choose File" name="form_img" accept="image/jpg,image/png,image/jpeg,image/gif">
      <div id="feedback_post"></div>
      <input id="post_submit" type="submit" value="Post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
  </div>
</div>

{% include 'post_previews.html' %}

{% endblock %}
