<!DOCTYPE html>
<html>
    <head>
        <title>Flask Image Boards</title>
        <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
        <link rel="shortcut icon" type="img/png" href="https://www.freefavicon.com/freefavicons/software/cup-of-coffee-152-78475.png"/>
    </head>
    <body>
        <h1>Boards</h1>
        {% for board in boards %}
            <div>
                <ul>
                    <a href="/{{board.board_acronym}}">
                        /{{board.board_acronym}}/ - {{board.board_description}}
                    </a>
                </ul>
            </div>
        {% endfor %}
    </body>
</html>