{% macro metadata(record) %}
  <div class="metadata">
    {{ record.date }}
  </div>
  <div class="metadata">
    {{ record.user }}
  </div>
  {% if record.img_filename %}
    <div class="metadata">
      {{record.img_filename}}
    </div>
  {% endif %}
{% endmacro %}


{% macro data(record, type) %}
  <div class="img_and_caption">
    {% if record.img_filename %}
      <a href="{{url_for('static', filename='img_uploads/' + record.img_uid + '.' + record.img_ext)}}">
        <img src="{{url_for('static', filename='img_uploads/' + record.img_uid +'.' +  record.img_ext)}}"/>
      </a>
    {% endif %}
      {% if type == "reply" %}
        <div class="formatted_text">{{ record.reply }}</div>
      {% else %}
        <div class="formatted_text">{{ record.post }}</div>
      {% endif %}
  </div>
{% endmacro %}
