{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block body %}
{% include 'report_modal.html' %}

<h3>Post</h3>
<div class="reply">
  <div class="metadata">
    <button class="metabutton" report="" report_url="/{{board_name}}/{{post.post_id}}/report">>></button>
  </div>
  {{ macros.metadata(post) }}
  <div class="metadata">
    <button class="metabutton" reply_to_post="" reply_url="/{{board_name}}/{{post.post_id}}/reply">Reply</button>
  </div>
  {{ macros.data(post, "post") }}
</div>

{% if replies %}
  <h3>Replies</h3>
  {% for reply in replies %}
  <div class="reply">
    <div id="c{{reply.user}}">
      <div id="p{{reply.reply_id}}">
        <div class="metadata">
          <button class="metabutton" report="" report_url="/{{board_name}}/{{post.post_id}}/{{reply.reply_id}}/report">>></button>
        </div>

        {{ macros.metadata(reply) }}

        <div class="metadata">
          <button class="metabutton" reply_to_reply="" reply_url="/{{board_name}}/{{post.post_id}}/{{reply.reply_id}}/reply">Reply</button>
        </div>
        {% for child in reply.children %}
          <a href="#c{{child}}" jump_link="c{{child}}" class="jump_link">{{ child }}</a>
        {% endfor %}

        <div class="preview"></div>

        {{ macros.data(reply, "reply") }}
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
  <h4 class="center">*No Replies*</h4>
{% endif %}

{% include 'reply_modal.html' %}

<script>
  $(document).ready(function() {
    
    var preview_hover_color_default = $('div .reply').css("background");
    var preview_hover_color = '#132638';

    function get_link_parent(link_type, reply){
      let p = link_type === "jump_link" ? reply.parent() : reply.parent().parent();
      return p;
    }

    function hover_init(link_type, this_obj, sibling_class_target){
      const target_id = "#" + $(this_obj).attr(link_type);
      const reply = $(target_id);
      get_link_parent(link_type, reply).css({'background': preview_hover_color});

      $(this_obj).siblings(sibling_class_target).html(reply.clone().addClass('padding10'),);
    }

    function hover_del(link_type, this_obj, sibling_class_target){
      const target_id = "#" + $(this_obj).attr(link_type);
      
      $(this_obj).siblings(sibling_class_target).last().html('');
      get_link_parent(link_type, $(target_id)).css({'background': preview_hover_color_default});
    }

    function goToPreview(link_target, link_type, this_obj, sibling_class_target){
      $(this_obj).siblings(sibling_class_target).last().html('');
      $(this_obj).unbind('mouseenter mouseleave');
      
      const target_id = "#" + $(this_obj).attr(link_type);
      const reply = $(target_id);
      get_link_parent(link_type, $(target_id)).css({'background-color': preview_hover_color});
  
      setTimeout(function() {
        get_link_parent(link_type, $(target_id)).css({'background': preview_hover_color_default});

        if(link_type=="jump_link"){
          $(link_target).bind('mouseenter', jump_link_hover_on);
          $(link_target).bind('mouseleave', jump_link_hover_off);
        }
        else if(link_type=="parent_link"){
          $(link_target).bind('mouseenter', parent_link_hover_on);
          $(link_target).bind('mouseleave', parent_link_hover_off);
        }
      }, 1000);
    }



    function jump_link_hover_on() {
      let link_type = "jump_link";
      let sibling_class_target = ".preview";
      hover_init(link_type, this, sibling_class_target);
    }

    function jump_link_hover_off() {
      let link_type = "jump_link";
      let sibling_class_target = ".preview";
      hover_del(link_type, this, sibling_class_target);
    }

    $('a[jump_link]').hover(jump_link_hover_on, jump_link_hover_off);
    $('a[jump_link]').click(function() {
      let link_target = 'a[jump_link]';
      let link_type = 'jump_link';
      let sibling_class_target = '.preview';

      goToPreview(link_target, link_type, this, sibling_class_target);
    });



    function parent_link_hover_on() {
      let link_type = "parent_link";
      let sibling_class_target = ".preview";
      hover_init(link_type, this, sibling_class_target);
    }

    function parent_link_hover_off() {
      let link_type = "parent_link";
      let sibling_class_target = ".preview";
      hover_del(link_type, this, sibling_class_target);
    }

    $('a[parent_link]').hover(parent_link_hover_on, parent_link_hover_off);
    $('a[parent_link]').click(function() {
      let link_target = 'a[parent_link]';
      let link_type = 'parent_link';
      let sibling_class_target = '.preview';

      goToPreview(link_target, link_type, this, sibling_class_target);
    });

  });
</script>

{% endblock %}
