{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block body %}

<h4><a href="{{url_for('board_catalog', board_acronym=board_acronym)}}">Go to {{board_acronym}}'s catalog</a></h4>

<h3>Post</h3>
{{ macros.metadata(post) }}

<div class="metadata">
  <button class="replybutton" data-reply-action="/{{board_acronym}}/{{post.post_id}}/reply">reply</button>
</div>
{{ macros.data(post, "post") }}


{% if replies %}
  <h3>Replies</h3>
  <div class="replies">
    {% for reply in replies %}
    
      {{ macros.metadata(reply) }}
      {{ macros.data(reply, "reply") }}

    {% endfor %}
  </div>
{% endif %}

<div class="replymodal">
  <div id="replybuttonclose" class="close">&times;</div>
  <h3>Reply</h3>
  <form id="reply_form_id" action="/{{board_acronym}}/{{post.post_id}}/reply" method="POST" enctype="multipart/form-data">
    <div class="replyform">
      <textarea class="reply_textarea" maxlength="500" type="text" name="reply_upload_text" rows="4" cols="48" placeholder="Reply"></textarea>
    </div>
    <div class="replyform">
      <input  type="file" value="Choose File" name="reply_upload_img">
    </div>
    <input type="submit" value="Reply">
  </form>
</div>

<script>
  $('.replybutton').click(function() {
    $('.replymodal').show();
    // Get the element where id=reply_form_id and assign its action attibute
    // to the specific reply button's data-reply-action attribute
    $('#reply_form_id').attr("action", $(this).attr("data-reply-action"));
    $('.replymodal').draggable({ containment: "html", scroll: false });
  });
  $('#replybuttonclose').click(function() {
    $('.replymodal').hide();
  });
</script>

{% endblock %}